%h2
  %strong about
  is always the most tricky part
%h4 so I'll leave it for now
%h5
  if you have questions or whatever - find me on
  = link_to "github", "http://github.com/lubieniebieski"
  or
  = link_to "twitter", "http://twitter.com/lubieniebieski"
