/*
*= require_self
*= require_tree .
*= require gumby
*/


table.table {
  td {
    padding: 2px;
  }
  thead  {
    tr {
      border-bottom: 1px solid black;
    }
    td {
      font-weight: bold;
    }
  }
}
